# database
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=data-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD= your password 

# kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# redis
REDIS_HOST=localhost
REDIS_PORT=6379