# api
fastapi
uvicorn[standard]
python-multipart

# database 
sqlalchemy>=2.0.0
asyncpg
redis>=4.2.0

# Kafka
aiokafka

# config and env 
pydantic-settings
python-dotenv

# Testing
pytest
pytest-cov 
pytest-asyncio
httpx